.menu-list-wrapper {
  border-top: 1px solid black;
  border-right: 1px solid black;

  .menu-button-container {
    padding: 10px;
  }

  .menu-list {
    background: #f3f1f1;
    margin: 10px 40px 10px 10px;
  }
}
