/* You can add global styles to this file, and also import other style files */

$light-gray: #eeeeee;
$medium-gray: #e0e0e0;
$deep-gray: #7a7979;

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
