<div class='navbar-container' fxFlex='auto' fxLayout='column'>
  <nav class='navbar-head' fxFlex='auto' fxLayout='row' fxLayoutAlign="space-between">
    <h3 class='app-title'>Burgers</h3>

    <div class='actions' fxLayout='row' fxLayoutAlign="start center">
      <mat-icon>minimize</mat-icon>
      <mat-icon>crop_square</mat-icon>
      <mat-icon>close</mat-icon>
    </div>
  </nav>

  <div class='navbar-buttons' fxLayout='row' fxLayoutAlign="space-between center">
    <mat-icon>menu</mat-icon>
    <button mat-button color='warn' (click)='logout()'>Logout</button>
  </div>
</div>

